.parent {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chat-box {
  display: block;
  width: 50%;
  height: 70%;
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #dddddd;
}

.text-area {
  width: 100%;
  height: 93%;
  border-bottom: 1px solid;
  border-bottom-color: #657786;  
}

.text-message {
  height: auto;
  margin-bottom: 3px;
  margin-top: 3px;
  min-width: 50px;
  max-width: 50%;
  width: auto;
  border-radius: 8px;
}

.my-text {
  margin-left: 49%;
  background-color: #4F8EF7;
}

.other-text {
  margin-left: 1%;
  background-color: #d4d4d4;
}
.text {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
}
.input {
  width: 80%;
  margin: 5px;
  line-height: 1.42857143;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #9e9c9c;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .2s, -webkit-box-shadow ease-in-out .2s;
  -o-transition: border-color ease-in-out .2s, box-shadow ease-in-out .2s;
  transition: border-color ease-in-out .2s, box-shadow ease-in-out .2s;
}

.input:focus {
  border-color: #1e72df;
  outline: 0;
}
.input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.input:-ms-input-placeholder {
  color: #999999;
}
.input::-webkit-input-placeholder {
  color: #999999;
}

.input-container {
  display: flex;
  align-items: center;
}

.button {
  width: 10%;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 8px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  margin: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  background-color: #2f80ed;
  border-radius: 1.3125rem;
}

.button:hover {
  text-decoration: none;  
  color: #ffffff;
  background-color: #1e72df;
}

.text {

}